{% extends 'base.html' %}
{% load bootstrap4 %}
{% load icons %}



{% block title %}
    {{ question }}
{% endblock %}

{% block content %}
    {% if question.owner_affiliation and question.owner_name %}
        <p class = "lead">de la {{ question.owner_name }}, {{ question.owner_affiliation }}</p>
    {% endif %}
    <form action="" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% icon "star" %} Trimite
        </button>
      {% endbuttons %}
    </form>
{% endblock %}