beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
Django==1.11.12
django-bootstrap4==0.0.6
django-icons==0.1.0
django-recaptcha==1.4.0
idna==2.6
Pillow==9.3.0
pytz==2018.4
requests==2.18.4
Unidecode==1.0.22
urllib3==1.22
